@import "tailwindcss";

:root {
    --colore-primario: #0d4fd1;
    --grigio: #f7f9ff;
    --bianco: #fff;
    --grigio-hover: #e0e7ff;
    --colore-secondario: #e30b21;
    --verde: #40c7bc;
}

.red {
    color: var(--colore-secondario);
}

.bg-red {
    background-color: var(--colore-secondario);
}

.blue {
    color: var(--colore-primario);
}

.green {
    color: var(--verde);
}

.white {
    color: var(--bianco);
}

.bg-blue {
    background-color: var(--colore-primario);
}

.border-blue {
    --tw-border-opacity: 1;
    border-color: var(--colore-primario);
}

.grey {
    color: var(--grigio);
}

.bg-grey {
    background-color: var(--grigio);
}

body {
    font-family: neue-haas-grotesk-display !important;
}

main {
    min-height: 700px;
    margin-top: 50px;
    padding-bottom: 100px;
    background-color: var(--bianco);
}

h1, h2 {
    line-height: 70px;
}

p {
    line-height: 25px;
}

.margin {
    margin-bottom: 150px;
}

img {
    pointer-events: none;
}